@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&family=Raleway&display=swap");
@import "bulma/css/bulma.css";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Noto Serif Georgian', serif;
}
body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(65,65,65,0.4) 0%, rgba(23,23,23,0.6) 40%, rgba(0,0,0,0.8) 100%),
    url('/src/assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    box-shadow: 35px 20px 25px 2px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 500px;
    background: #3f3f3f;
}
#calculator-screen{
    width: 500px;
    height: 120px;
    border: none;
    background-color: #212121;
    color: #fafafa;
    padding: 20px 20px 40px 20px;
    border-radius: 8px 8px 0 0;
    font-size: 2.5rem;
    text-align: right;
    user-select: none;
}

#calculator #calculator-buttons{
    position: relative;
    width: auto;
    height: auto;
    border-radius: 0 0 8px 8px;

}
#calculator button{
    width: 112px;
    height: 80px;
    background-color: #fafafa;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    user-select: none;
    margin: 6px 2px 6px 4px;
}

#calculator #buttons-top,
#buttons-middle,
#buttons-bottom{
    width: 370px;
    margin-left: 6px;
}
#calculator #buttons-right{
    position:absolute;
    right: 0px;
    top: 0px;
    right: 0;
    width: 123px; 
    margin-right: 6px;
}

#calculator #calculator-buttons #buttons-bottom{
    margin-bottom: 6px;
}
#calculator #calculator-buttons #buttons-top{
    margin-top: 6px;
}

#calculator #calculator-buttons #buttons-top button{
    background: #78787a;
    border-radius: 4px;
}
#calculator #calculator-buttons #buttons-top button:hover{
    background: #7b797a;
}
#calculator #calculator-buttons #buttons-top button:nth-child(1){
    background: #fd473d ;
}

#calculator #calculator-buttons #buttons-right button{
    background: #ff9e0b;
    border:none;
    border-radius: 4px;
    margin-right: 6px;
}
#calculator #calculator-buttons #buttons-right button:hover{
background: #c97c02;
}


#calculator button:hover {
    background-color: #fafafa;
    opacity: .6;
}

#calculator button:active {
    background-color: rgba(160, 160, 160, 0.8) !important;
}

@media screen and (min-width: 2560px) {
    #calculator{
        width: 400px;
    }
    #calculator-screen {
        width: 400px;
        border: none;
    }
    #calculator #buttons-top,
    #buttons-middle,
    #buttons-bottom{
        width: 295px;
    }
    #calculator #buttons-right{
        top: 0px;
        right: 0px;
        width: 95px;
       
    }
        #calculator button{
        width: 87px;
        height: 60px;
        }
}

@media screen and (max-width: 768px) {
    #calculator{
        width: 400px;
    }
    #calculator-screen {
        width: 400px;
        border: none;
    }
    #calculator #buttons-top,
    #buttons-middle,
    #buttons-bottom{
        width: 295px;
    }
    #calculator #buttons-right{
        top: 0px;
        right: 0px;
        width: 95px;
       
    }
        #calculator button{
        width: 87px;
        height: 60px;
        }
}
@media screen and (max-width: 375px) {
    #calculator{
        width: 300px;
    }
    #calculator-screen {
        width: 300px;
        border: none;
    }
    #calculator #buttons-top,
#buttons-middle,
#buttons-bottom{
    width: 275px;
}
#calculator #buttons-right{
    top: 0px;
    right: 0px;
    width: 70px;
   
}
    #calculator button{
    width: 62px;
    height: 60px;
    }
}