@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Noto Serif Georgian', serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(65,65,65,0.4) 0%, rgba(23,23,23,0.6) 40%, rgba(0,0,0,0.8) 100%),
    url('/src/assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.calc_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    box-shadow: 35px 20px 25px 2px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 500px;
    background: #3f3f3f;
}

.js-result {
    width: 460px;
    border: none;
    background-color: #212121;
    color: #fafafa;
    padding: 20px 20px 40px 20px;
    border-radius: 8px 8px 0 0;
    font-size: 2.5rem;
    text-align: right;
    user-select: none;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons button {
    padding: 20px 0px 20px 0px;
    background-color: #fafafa;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    user-select: none;
    margin: 4px;
}
.buttons .js-buttons:nth-child(4n + 1){
    margin-left: 6px;
}
.buttons .js-upper{
    background: #78787a;
    border-radius: 4px;
    margin-top: 8px;
}
.buttons .js-upper:hover{
    background: #7b797a;
}
.buttons .js-buttons:nth-child(4n -4){
    background: #ff9e0b !important;
    border:none;
    border-radius: 4px;
    margin-right: 6px;
}
.buttons .js-buttons:nth-child(4n -4):hover{
background: #c97c02;
}
.buttons .js-equal{
    background-color: #fafafa;    
    border-radius:4px;
    border:none;
    border-radius: 4px;
}
.buttons .js-equal:hover{
    border-radius: 4px ;
}
.buttons button:nth-child(1){
    background: #fd473d !important;
    border:none;
    border-radius: 4px;
    margin-left: 6px;
}
.buttons button:nth-child(1):hover{
    background: #ff584f;
    border:none;
    border-radius: 0;
}
.buttons .js-bottom{
margin-bottom: 8px;
}

.buttons button:hover {
    background-color: #fafafa;
    opacity: .6;
}

.buttons button:active {
    background-color: rgba(7, 7, 7, 0.3);
}

@media screen and (min-width: 2560px) {
    .calc_body{
        width: 400px;
    }
    .js-result {
        width: 360px;
        border: none;
    }
    .buttons button{
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .calc_body{
        width: 400px;
    }
    .js-result {
        width: 360px;
        border: none;
    }
    .buttons button{
        padding: 20px;
    }
}
@media screen and (max-width: 375px) {
    .calc_body{
        width: 300px;
    }
    .js-result {
        width: 260px;
        border: none;
    }
    .buttons button{
        padding: 10px;
    }
}